@font-face {
  font-family: 'LilitaOne';
  src: url("../fonts/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

.board_container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("img/board/board.png") center center no-repeat;
  background-size: contain;
}

.btn {
  height: 35px;
  border-radius: 17.5px;
  border: none;
  font-family: 'LilitaOne', sans-serif;
  font-size: 0.75em;
}

.btn.stylized {
  background-color: #fd8000;
  border: #ffa243 4px solid;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn.stylized:hover {
  background-color: #ffa243;
  border: white 4px solid;
}

.background-container {
  position: absolute;
  z-index: -2;
  background-color: #79e9f7;
  width: 100%;
  height: 100%;
}

.options-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
}

.options-overlay-container i {
  height: 40px;
  width: 40px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 100%;
}

.profile-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
}

.profile-overlay-container img {
  margin-right: 50px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 4px solid white;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.resolution-overlay-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fd8000;
  display: none;
}

@media (max-width: 767.98px) {
  .resolution-overlay-container {
    display: block;
  }
}

.welcome-screen .btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 0;
}

.lobby-ui-container {
  width: 100%;
  /* {
    border: black 1px dotted;
  } */
}

.lobby-ui-container .box {
  width: 250px;
  margin-bottom: 200px;
}

.lobby-ui-container .btn {
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 30px;
}

.lobby-ui-container .container:first-child {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.lobby-ui-container .container:nth-child(2) {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.ingame-ui-container {
  position: absolute;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.card.box {
  border-radius: 0;
  border: none;
}

.card.box .card-header {
  border-radius: 0;
  background-color: #2dc8dc;
  font-family: 'LilitaOne', sans-serif;
  color: white;
  font-size: 20px;
}

.card.box .card-body {
  border-radius: 0;
  background-color: #0da6b8;
  color: white;
}

.card.box input {
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.card.window {
  border-radius: 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card.window .card-header {
  border-radius: 15px 15px 0px 0px;
  font-family: 'LilitaOne', sans-serif;
  color: white;
  background-color: #066875;
}

.card.window .card-body {
  border-radius: 0px 0px 15px 15px;
  background-color: #24a9ba;
  padding: 30px 170px;
}

.card.window .card-body input {
  width: 275px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 15px 0;
  font-size: 0.9em;
}

.card.window .card-body .btn {
  display: block;
  margin: 10px auto;
  width: 150px;
}

.card.window .card-body .btn.btn-primary {
  background: #35d859;
  margin-top: 40px;
}

.card.window .card-body .btn.btn-secondary {
  background: #066875;
}

.card.window .card-body #forgot-password {
  font-size: 0.8em;
  color: #b0dfe5;
}
/*# sourceMappingURL=mainStyles.css.map */