@font-face {
  font-family: 'LilitaOne';
  src: url("../fonts/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

.board_container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.btn {
  height: 35px;
  border-radius: 17.5px;
  border: none;
  font-family: 'LilitaOne', sans-serif;
  font-size: 0.75em;
}

.btn.stylized {
  color: white;
  background-color: #fd8000;
  border: #ffa243 4px solid;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn.stylized:hover {
  background-color: #ffa243;
  border: white 4px solid;
}

a:not([href]) {
  color: white;
}

.background-container {
  position: absolute;
  z-index: -2;
  background-color: #79e9f7;
  width: 100%;
  height: 100%;
}

.options-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
}

.options-overlay-container i {
  height: 40px;
  width: 40px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 100%;
}

.profile-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;
}

.profile-overlay-container img {
  margin-right: 50px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 4px solid white;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.resolution-overlay-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #79e9f7;
  display: none;
  text-align: center;
}

.resolution-overlay-container div {
  font-family: 'LilitaOne', sans-serif;
  font-size: 30px;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: white;
}

@media (max-width: 767.98px) {
  .resolution-overlay-container {
    display: block;
  }
}

@media (max-height: 650px) {
  .resolution-overlay-container {
    display: block;
  }
}

.tchat-container {
  width: 100%;
  max-width: 240px;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.tchat-container .-webkit-scrollbar {
  display: none;
}

.tchat-container .msg-author {
  margin-bottom: 7px;
}

.tchat-container .msg-me {
  position: relative;
  background: #00e54f;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
  margin: 10px 6px 10px 0;
}

.tchat-container .msg-me .msg-author {
  color: rgba(255, 255, 255, 0.7);
}

.tchat-container .msg-me:after {
  content: '';
  position: absolute;
  right: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #00e54f;
  border-right: 0;
  margin-top: -6px;
  margin-right: -6px;
}

.tchat-container .msg-other {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: white;
  font-size: 13px;
  margin: 10px 0 10px 6px;
}

.tchat-container .msg-other .msg-author {
  color: rgba(255, 255, 255, 0.7);
}

.tchat-container .msg-other:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

.tchat-container .input-group input,
.tchat-container .input-group-text {
  height: 35px;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.7);
}

.tchat-container .input-group input {
  font-size: 14px;
}

.tchat-container .input-group-append {
  margin: 0;
}

.welcome-screen .btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 0;
}

.lobby-ui-container {
  width: 100%;
}

.lobby-ui-container .box {
  width: 220px;
}

.lobby-ui-container .box.friendlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lobby-ui-container .box.friendlist .friend-request {
  background: rgba(0, 0, 0, 0.3);
  margin: 15px -20px;
  width: 220px;
  padding: 20px;
  text-align: left;
}

.lobby-ui-container .box.friendlist .friend-request .friend-request-text {
  font-size: 13px;
  margin-bottom: 10px;
  color: white;
}

.lobby-ui-container .box.friendlist .friend-request .friend-request-accept {
  border: white 1px solid;
  border-radius: 3px;
  margin-left: auto;
  padding: 2px 5px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}

.lobby-ui-container .box.friendlist .friend-request .friend-request-deny {
  border: rgba(255, 255, 255, 0.7) 1px solid;
  border-radius: 3px;
  margin-left: auto;
  padding: 2px 5px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}

.lobby-ui-container .box.friendlist .fa-search {
  position: absolute;
  display: none;
}

.lobby-ui-container .box.friendlist .friend-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.lobby-ui-container .box.friendlist .friend-entry .friends-avatar {
  max-height: 35px;
  max-width: 35px;
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.lobby-ui-container .box.friendlist .friend-entry .friends-name {
  margin-left: 10px;
  font-size: 13px;
  overflow: hidden;
  overflow-wrap: unset;
}

.lobby-ui-container .box.friendlist .friend-entry .friend-add {
  border: rgba(255, 255, 255, 0.6) 1px solid;
  border-radius: 3px;
  margin-left: auto;
  padding: 2px 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.lobby-ui-container .box.friendlist .friend-entry .friend-add:hover {
  color: white;
  border-color: white;
}

.lobby-ui-container .btn {
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 30px;
}

.lobby-ui-container .container:first-child {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.lobby-ui-container .container:nth-child(2) {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container {
  position: relative;
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container #nbJoueurs {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 0;
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container div:first-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container .stylized {
  border-color: #5fddeb;
  background-color: #0ab6cc;
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container .arrow-right, .lobby-ui-container .container:nth-child(2) .nb-joueurs-container .arrow-left {
  position: absolute;
  top: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container .arrow-right {
  left: 55px;
  border-left: 17px solid rgba(255, 255, 255, 0.5);
}

.lobby-ui-container .container:nth-child(2) .nb-joueurs-container .arrow-left {
  right: 55px;
  border-right: 17px solid rgba(255, 255, 255, 0.5);
}

.lobby-ui-container .container:nth-child(2) .notification-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow-y: hidden;
  position: absolute;
  bottom: 100px;
  right: 0;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification {
  border-radius: 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-header {
  border-radius: 15px 15px 0px 0px;
  font-family: 'LilitaOne', sans-serif;
  color: white;
  background-color: #066875;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-body {
  border-radius: 0px 0px 15px 15px;
  background-color: #24a9ba;
  padding: 10px;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-body .card-text {
  color: white;
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-body .btn {
  height: 32px;
  font-size: 12px;
  width: 110px;
  margin: 0 10px 10px 10px;
  padding: 0;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-body .btn-primary {
  background-color: #35d859;
}

.lobby-ui-container .container:nth-child(2) .notification-container .notification .card-body .btn-secondary {
  background-color: rgba(0, 0, 0, 0.3);
}

.ingame-ui-container {
  position: absolute;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.card.box {
  border-radius: 0;
  border: none;
}

.card.box .card-header {
  border-radius: 0;
  background-color: #2dc8dc;
  font-family: 'LilitaOne', sans-serif;
  color: white;
  font-size: 17px;
}

.card.box .card-body {
  border-radius: 0;
  background-color: #0da6b8;
  color: white;
  font-size: 14px;
}

.card.box input {
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  position: relative;
}

.card.box input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.card.box input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.card.box input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.card.box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.card.window {
  border-radius: 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card.window .card-header {
  border-radius: 15px 15px 0px 0px;
  font-family: 'LilitaOne', sans-serif;
  color: white;
  background-color: #066875;
}

.card.window .card-body {
  border-radius: 0px 0px 15px 15px;
  background-color: #24a9ba;
  padding: 30px 170px;
}

.card.window .card-body input {
  width: 275px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 15px 0;
  font-size: 0.9em;
}

.card.window .card-body .btn {
  display: block;
  margin: 10px auto;
  width: 150px;
}

.card.window .card-body .btn.btn-primary {
  background: #35d859;
  margin-top: 40px;
}

.card.window .card-body .btn.btn-secondary {
  padding-top: 8px;
  background: #066875;
}

.card.window .card-body #forgot-password {
  font-size: 0.8em;
  color: #b0dfe5;
}
/*# sourceMappingURL=mainStyles.css.map */