.board-container {
    position: relative;
    height: 100%;
    align-items: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    #c {
        width: 100%;
        height: 100%;
        display: block;
    }
}