// Styling
.tchat-container {
  width: 100%;
  max-width: 240px;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;

  .msg-author {
    margin-bottom: 7px;
  }

  .msg-me {
    position: relative;
    background: #02c446;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    margin: 10px 6px 10px 0;

    .msg-author {
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .msg-me:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #02c446;
    border-right: 0;
    margin-top: -6px;
    margin-right: -6px;
  }

  .msg-other, .purchase-offer, .sale-offer  {
    position: relative;
    background: rgba($color: black, $alpha: 0.3);;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    margin: 10px 0 10px 6px;

    .msg-author {
      color: rgba($color: white, $alpha: 0.7);
    }

    .buttons-container {
      padding: 10px 0;

      .accept-button {
        border: white 1px solid;
        border-radius: 3px;
        margin-left: auto;
        padding: 1px 5px;
        font-size: 12px;
        color: black;
        cursor: pointer;
        display: inline-block;
        background-color: white;
        margin-right: 5px;
      }

      .deny-button {
        border: rgba($color: white, $alpha: 0.7) 1px solid;
        border-radius: 3px;
        margin-left: auto;
        padding: 1px 5px;
        font-size: 12px;
        color: black;
        cursor: pointer;
        display: inline-block;
        background-color: rgba($color: white, $alpha: 0.7);
      }
    }
  }

  .msg-other:after, .purchase-offer:after, .sale-offer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: rgba($color: black, $alpha: 0.3);
    border-left: 0;
    margin-top: -6px;
    margin-left: -6px;
  }

  .input-group input,
  .input-group-text {
    height: 35px;
    border: none;
    border-radius: 0;
    background: rgba($color: white, $alpha: 0.7);
  }

  .input-group input {
    font-size: 14px;
  }

  .input-group-append {
    margin: 0;
  }
}

@media (max-height: 820px) {
  .tchat-container {
    max-height: 150px;
  }
}