.tchat-container {
  width: 100%;
  max-width: 240px;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;

  -ms-overflow-style: none;

  .-webkit-scrollbar {
    display: none;
  }
  
  .msg-author {
    margin-bottom: 7px;
  }

  .msg-me {
    position: relative;
    background: #00e54f;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    margin: 10px 6px 10px 0;

    .msg-author {
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .msg-me:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #00e54f;
    border-right: 0;
    margin-top: -6px;
    margin-right: -6px;
  }

  .msg-other {
    position: relative;
    background: rgba($color: black, $alpha: 0.3);;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    margin: 10px 0 10px 6px;

    .msg-author {
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .msg-other:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: rgba($color: black, $alpha: 0.3);;
    border-left: 0;
    margin-top: -6px;
    margin-left: -6px;
  }

  .input-group input,
  .input-group-text {
    height: 35px;
    border: none;
    border-radius: 0;
    background: rgba($color: white, $alpha: 0.7);
  }

  .input-group input {
    font-size: 14px;
  }

  .input-group-append {
    margin: 0;
  }
}

@media (max-height: 820px) {
  .tchat-container {
    max-height: 150px;
  }
}