// Couleurs principales
$orange: #fd8000;
$blue: rgb(0,82,186);

// Backgrounds
$gradient-background: radial-gradient(circle, rgba(36,214,242,1) 0%, rgba(0,170,245,1) 35%, rgba(0,82,186,1) 100%);

// Notifications
$notification-body: rgba($color: black, $alpha: 0.2);
$button-primary: #35d859;
$button-secondary: rgba($color: black, $alpha: 0.3);

// Cards
$card-header: rgba($color: black, $alpha: 0.5);
$card-body: rgba($color: black, $alpha: 0.3);
$input: rgba($color: black, $alpha: 0.3);

// Popups
$popup-background: rgba($color: white, $alpha: 0.9);

// Streets colors
$street-blue: blue;
$street-red: red;
$street-orange: orange;
$street-purple: purple;
$street-brown: brown;
$street-green: green;
$street-cyan: cyan;
$street-yellow: yellow;