// Couleurs principales
$orange: #fd8000;
$blue: #79e9f7;

// Notifications
$notification-body: rgba($color: black, $alpha: 0.2);
$button-primary: #35d859;
$button-secondary: rgba($color: black, $alpha: 0.3);

// Cards
$card-header: rgba($color: black, $alpha: 0.5);
$card-body: rgba($color: black, $alpha: 0.3);
$input: rgba($color: black, $alpha: 0.3);

// ??
$box-header: #2dc8dc;
$box-body: #0da6b8;