* {
  cursor: default;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  scrollbar-width: none; // meilleure solution pour le moment
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.disabled, *:disabled {
  opacity: .65 !important;
}
.disabled, *:disabled, .disabled *, *:disabled * {
  cursor: not-allowed !important;
}

input {
  cursor: text;
  user-select: initial; /* supported by Chrome and Opera */
  -webkit-user-select: initial; /* Safari */
  -khtml-user-select: initial; /* Konqueror HTML */
  -moz-user-select: initial; /* Firefox */
  -ms-user-select: initial; /* Internet Explorer/Edge */
}

.btn {
  height: 35px;
  border-radius: 17.5px;
  border: none;
  font-family: 'LilitaOne', sans-serif;

  &.stylized {
    color: white;
    background-color: $orange;
    border: #ffa243 4px solid;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }

  &.stylized:hover {
    background-color: rgba($color: $orange, $alpha: 0.7);
    border: white 4px solid;
    color: white;
  }
}