/*** IMPORTANT: ces styles prennent effet UNIQUEMENT DANS L'ECRAN DE CONNEXION ET D'INSCRIPTION ***/

.login-ui-container, .signin-ui-container {
  .card {
    border-radius: 15px;
    background-color: transparent;
    border: none;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .card-header {
      border-radius: 15px 15px 0px 0px;
      font-family: 'LilitaOne', sans-serif;
      color: white;
      background-color: rgba($color: black, $alpha: 0.5);
    }

    .card-body {
      border-radius: 0px 0px 15px 15px;
      background-color: rgba($color: black, $alpha: 0.3);
      padding: 30px 170px;

      input {
        width: 275px;
        height: 40px;
        border-radius: 20px;
        border: none;
        margin: 15px 0;
        font-size: 0.9em;
      }

      .btn {
        display: block;
        margin: 10px auto;
        width: 150px;
        padding-top: 6px;
        font-size: 13px;

        &.btn-primary {
          background: #35d859;
          margin-top: 40px;
        }

        &.btn-secondary {
          background: #066875;
        }
      }

      #forgot-password {
        font-size: 12px;
        color: #b0dfe5;
        cursor: pointer;
      }
    }

    a:not([href]) {
      color: white;
    }
  }
}

// Notifications Simples
.toast-notification {
  border-radius: 20px;
  padding: 20px;
  color: white;
  max-width: 300px;
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 500px;
  z-index:1000;
}

.toast-notification.danger {
  background-color: rgba($color: red, $alpha: 0.8);
}

.toast-notification.success {
  background-color: rgba($color: green, $alpha: 0.8);
}

.toast-notification.info {
  background-color: rgba($color: black, $alpha: 0.5);
}