.options-overlay-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  i {
    position: relative;
    left: 535px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba($color: black, $alpha: 0.3);
    color: white;
    border-radius: 100%;
    cursor: pointer;
  }
}

@media (max-width: 1199.98px) {
  .options-overlay-container {
    i {
      left: 445px;
    }
  }
}