.player-entry:first-of-type {
  .name {
    color: yellow;
  }
}

.player-entry:nth-of-type(2) {
  .name {
    color: #d43333;
  }
}

.player-entry:nth-of-type(3) {
  .name {
    color: #006aff;
  }
}

.player-entry:nth-of-type(4) {
  .name {
    color: #22d406;
  }
}

.player-entry:nth-of-type(5) {
  .name {
    color: white;
  }
}

.player-entry:nth-of-type(6) {
  .name {
    color: violet;
  }
}

.player-entry:nth-of-type(7) {
  .name {
    color: black;
  }
}

.player-entry:nth-of-type(8) {
  .name {
    color: orange;
  }
}