.profile-overlay-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  .profile-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 400px;

    .username {
      margin-right: 20px;
      color: white;
      font-size: 22px;
      font-family: "LilitaOne", sans-serif;
      width: 110px;
      text-align: right;
      white-space: nowrap;
      direction: rtl;
    }
  
    img {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      border: 4px solid white;
      box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
    }
  }
}

@media (max-width: 1199.98px) {
  .profile-overlay-container {
    .profile-row {
      left: 310px;
    }
  }
}