.profile-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;

  .profile-row {
    padding-right: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .username {
    margin-right: 20px;
    color: white;
    font-size: 22px;
    font-family: "LilitaOne", sans-serif;
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }
}