.resolution-overlay-container {
  position: static;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: $blue;
  display: none;
  text-align: center;
  
  div {
    font-family: 'LilitaOne', sans-serif;
    font-size: 30px;
    width: 100%;
    height: min-content;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
  }
}

@media (max-width: 991.98px) {
  .resolution-overlay-container {
    display: block;
  }
}

@media (max-height: 600px) {
  .resolution-overlay-container {
    display: block;
  }
}