.btn {
  height: 35px;
  border-radius: 17.5px;
  border: none;
  font-family: 'LilitaOne', sans-serif;
  font-size: 0.75em;

  &.stylized {
    background-color: $mp_orange;
    border: #ffa243 4px solid;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }

  &.stylized:hover {
    background-color: #ffa243;
    border: white 4px solid;
  }
}

.background-container {
  position: absolute;
  z-index: -2;
  background-color: $mp_blue;
  width: 100%;
  height: 100%;
}

.options-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;

  i {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba($color: black, $alpha: 0.3);
    color: white;
    border-radius: 100%;
  }
}

.profile-overlay-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 20px;

  img {
    margin-right: 50px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }
}

.resolution-overlay-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: $mp_orange;
  display: none;
}

@media (max-width: 767.98px) {
  .resolution-overlay-container {
    display: block;
  }
}

.welcome-screen {
  .btn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    padding: 6px 0;
  }
}

.lobby-ui-container {
  width: 100%;

  /* {
    border: black 1px dotted;
  } */

  .box {
    width: 220px;
  }

  .btn {
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    padding: 6px 30px;
  }

  .container:first-child {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .container:nth-child(2) {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.ingame-ui-container {
  position: absolute;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.card {
  &.box {
    border-radius: 0;
    border: none;

    .card-header {
      border-radius: 0;
      background-color: $box_header;
      font-family: 'LilitaOne', sans-serif;
      color: white;
      font-size: 17px;
    }

    .card-body {
      border-radius: 0;
      background-color: $box_body;
      color: white;
      font-size: 14px;
    }

    input {
      height: 30px;
      border-radius: 15px;
      border: none;
      background-color: rgba($color: black, $alpha: 0.3);
      color: rgba($color: white, $alpha: 0.7);
      font-size: 13px;
    }
  }

  &.window {
    border-radius: 15px;
    background-color: transparent;
    border: none;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .card-header {
      border-radius: 15px 15px 0px 0px;
      font-family: 'LilitaOne', sans-serif;
      color: white;
      background-color: $window_header;
    }

    .card-body {
      border-radius: 0px 0px 15px 15px;
      background-color: $window_body;
      padding: 30px 170px;

      input {
        width: 275px;
        height: 40px;
        border-radius: 20px;
        border: none;
        margin: 15px 0;
        font-size: 0.9em;
      }

      .btn {
        display: block;
        margin: 10px auto;
        width: 150px;

        &.btn-primary {
          background: #35d859;
          margin-top: 40px;
        }

        &.btn-secondary {
          background: #066875;
        }
      }

      #forgot-password {
        font-size: 0.8em;
        color: #b0dfe5;
      }
    }
  }
}