.player-entry {
  .name {
    text-shadow: -1px -1px 0 rgb(31, 0, 117), 1px -1px 0 rgb(31, 0, 117), -1px 1px 0 rgb(31, 0, 117), 1px 1px 0 rgb(31, 0, 117);
  }

  &.yellow {
    .name {
      color: #FDFF00;
    }
  }

  &.red {
    .name {
      color: #d43333;
    }
  }

  &.blue {
    .name {
      color: #006aff;
    }
  }

  &.green {
    .name {
      color: #22d406;
    }
  }

  &.white {
    .name {
      color: #FFFFFF;
    }
  }

  &.purple {
    .name {
      color: #F576F4;
    }
  }

  &.cyan {
    .name {
      color: #59FFFF;
    }
  }

  &.orange {
    .name {
      color: #F8A100;
    }
  }
}
