.player-entry {
  .name {
    text-shadow: -1px -1px 0 rgb(31, 0, 117), 1px -1px 0 rgb(31, 0, 117), -1px 1px 0 rgb(31, 0, 117), 1px 1px 0 rgb(31, 0, 117);
  }

  &.yellow {
    .name {
      color: yellow;
    }
  }

  &.red {
    .name {
      color: #d43333;
    }
  }

  &.blue {
    .name {
      color: #006aff;
    }
  }

  &.green {
    .name {
      color: #22d406;
    }
  }

  &.white {
    .name {
      color: white;
    }
  }

  &.purple {
    .name {
      color: violet;
    }
  }

  &.cyan {
    .name {
      color: cyan;
    }
  }

  &.orange {
    .name {
      color: orange;
    }
  }
}
