.profile-container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding: 0 15px;
}

.profile-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100px;

  .username {
    margin-right: 20px;
    color: white;
    font-size: 22px;
    font-family: "LilitaOne", sans-serif;
    width: 110px;
    text-align: right;
    white-space: nowrap;
    direction: rtl;
  }

  i.open-settings {
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba($color: black, $alpha: 0.3);
    color: white;
    border-radius: 100%;
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }

  i.fa-pen {
    transform: translateX(-10px);
    font-size: 15px;
    color: rgba($color: white, $alpha: 0.3) !important;
    cursor: pointer;

    &:hover {
      color: white !important;
    }
  }

  .logout-btn {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba(204, 11, 11, 0.671);
    color: white;
    border-radius: 100%;
    cursor: pointer;

    margin-left: 8px;
  }
}
