.profile-overlay-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 0;

  i.open-settings {
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba($color: black, $alpha: 0.3);
    color: white;
    border-radius: 100%;
    cursor: pointer;
  }

  .profile-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .username {
      margin-right: 20px;
      color: white;
      font-size: 22px;
      font-family: "LilitaOne", sans-serif;
      width: 110px;
      text-align: right;
      white-space: nowrap;
      direction: rtl;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      border: 4px solid white;
      box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
    }
  }

  i.fa-pen {
    transform: translateX(-10px);
    font-size: 15px;
    color: rgba($color: white, $alpha: 0.3) !important;

    &:hover {
      color: white !important;
    }
  }
}

.page-lobby {
  .profile-overlay-container {
    right: calc(50vw - 510px) !important;
  }
}

@media (max-width: 1199.98px) {
  .page-lobby {
    .profile-overlay-container {
      right: calc(50vw - 418px) !important;
    }
  }
}
