.welcome-screen {
  .outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .inner {
    width: 500%;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 120s linear infinite;
  }

  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .gradient-wrap {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  .gradient-wrap:last-child {
    transform: rotate(180deg);
  }

  .gradient {
    width: 100%;
    height: 200%;
    background: linear-gradient(180deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(170deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(160deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(150deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(140deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(130deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(120deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(110deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(100deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(90deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(80deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(70deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(60deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(50deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(40deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(30deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(20deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%),
      linear-gradient(10deg, transparent 50%, rgb(18, 97, 225) 50%, rgb(18, 97, 225) 100%),
      linear-gradient(0deg, transparent 50%, rgb(19, 92, 199) 50%, rgb(19, 92, 199) 100%);
  }

  #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  @keyframes montgolfiereAnimation {
    0% {
      transform: translateX(250px) translateY(-250px);
      transform-origin: -50% -50%;
    }
    50% {
      transform: translateX(270px) translateY(-220px);
      transform-origin: -50% -50%;
    }
    100% {
      transform: translateX(250px) translateY(-250px);
      transform-origin: -50% -50%;
    }
  }

  #montgolfiere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 300px), calc(-50% - 200px));
    z-index: 150;
    animation: montgolfiereAnimation 12s infinite 0s ease;
  }

  #bus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 300px), calc(-50% - 180px));
    z-index: 50;
  }

  #bateau {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 180px), calc(-50% + 150px));
    z-index: 150;

    @media (max-height: 790px) {
      transform: translate(calc(-50% - 230px), calc(-50% + 150px));;
    }
  }

  .btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    padding: 6px 0;
    color: white;
    background-color: $orange;
    border: #ffa243 4px solid;
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.3);
  }

  .credits {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: rgba($color: white, $alpha: 0.5);
    text-decoration: underline;
  }
}

#creditsModal {
  .modal-body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
}
